body {
	margin: 0px;
}
.contenair {
	background-color: white;
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 100%;
}
header{
	background-color: #579C87;
	width: 100%;
	height: 87px;
	display: flex;
	margin: auto;
	justify-content: space-around;
}
h1 {
	width: 15%;
	height: 50px;
	color: #fdcb46;
	font-size: 40px;
	margin-top: 18px;
}
h2 {
	font-size: 18px;
}
h3,
h4 {
	display: flex;
	justify-content: space-around;
}
.main {
	width: 100%;
}
.main-menu2 {
	height: 770px;
}
.resto1, 
.resto2, 
.resto3, 
.resto4 {
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: column;
	margin-top: 100px;
}
.resto1-2,
.resto3-4 {
	display: flex;
	margin: auto;
	justify-content: space-around;
	width: 100%;
	height: 325px;
	margin-top: 30px;
}
.btn-titre {
	display: inline-block;
	text-decoration: none;
	justify-content: space-around;
}
.btn-first {
	display: inline-block;
	width: 13%;
	min-width: 200px;
	height: 100%;
	font-family: 'Dancing Script', cursive;
	background: #fcdfdb;
	text-decoration: none;
	text-align: center;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.btn-secondary {
	display: inline-block;
	width: 13%;
	min-width: 200px;
	height: 100%;
	background: #fff5fe;
	text-decoration: none;
	text-align: center;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
	font-family: 'Caudex', serif;
}
.btn-tertiary {
	display: inline-block;
	width: 13%;
	min-width: 200px;
	height: 100%;
	background: #f9f9f9;
	text-decoration: none;
	text-align: center;
	font-family: 'Satisfy', cursive;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);

}
.btn-quaternary {
	display: inline-block;
	width: 13%;
	min-width: 200px;
	height: 100%;
	background: #fdfffd;
	text-decoration: none;
	text-align: center;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
	font-family: 'Kalam', cursive;
}
.soon {
	background-color: #579C87;
	border-radius: 10%;
	width: 250px;
	height: 50px;
	margin: auto;
	margin-top: 20px;
}
.startingsoon {
	width: 100%;
	text-decoration: none;
	color: #fdcb46;
	justify-content: space-around;
	margin: auto;
	display: flex;
}
footer {
	background-color: #579C87;
	width: 100%;
	margin-top: 30px;
	height: 60px;
}
.btn5-6 {
	display: flex;
	margin: auto;
	justify-content: space-around;
}
.mention,
.contact {
	background-color: #579C87;
	width: 50%;
	height: 45px;
	color: #fdcb46;
	text-decoration: none;
	text-align: center;
}
.btn5 h2,
.btn6 h2 {
	font-size: 24px;
}
.main2 {
	margin:50px 50px 50px 50px;
}

/* couleur texte */
.menu1>i {
	display: flex;
	margin:auto;
	justify-content: space-around;
	background: linear-gradient(135deg, #f04c5e 0%,#f57d69 50%,#f7916d 100%);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip:text;
}
.menu2 h2 {
	background: linear-gradient(to right, #c77412 0%,#c4a3fe 53%,#c4a3fe 53%,#6e4ccc 100%);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip:text;
}
.resto2>h2 {
	background: linear-gradient(to right, #c77412 0%,#c4a3fe 53%,#c4a3fe 53%,#6e4ccc 100%);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip:text;
}
.resto1>h2{
	color: #3c1218;
}
.resto1>i {
	background: linear-gradient(135deg, #f04c5e 0%,#f57d69 50%,#f7916d 100%);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip:text;
}
.menu3 h2 {
	background: linear-gradient(to right, #0121da 0%,#1e5799 33%,#207cca 52%,#2989d8 70%,#0889fb 100%);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip:text;
}
.resto3>h2 {
	background: linear-gradient(to right, #0121da 0%,#1e5799 33%,#207cca 52%,#2989d8 70%,#0889fb 100%);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip:text;
}
.resto3>h2 {
	color: #0887fb;
}
.resto4 h2 {
	background: linear-gradient(to right, #3e923a 0%, #95d771 48%, #beff7f 100%);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip:text;
}
.menu4 h2 {
	background: linear-gradient(to right, #3e923a 0%, #95d771 48%, #beff7f 100%);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip:text;
}
.resto4>h2 {
	color: #72bf56;
}
.color1 {
	color: #c77412;
}
.color2 {
	color: #a56799;
}
.color3 {
	color: #6e4ccc;
}
.color4{
	color: #0889fb;
}
.color5 {
	color: #3e923a;
}
/* FIN */
/* btn resto accueuil */
/* btn shake */
.btn5 h2:hover,
.btn6 h2:hover {
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}
@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
  	10% { transform: translate(-1px, -2px) rotate(-1deg); }
  	20% { transform: translate(-3px, 0px) rotate(1deg); }
  	30% { transform: translate(3px, 2px) rotate(0deg); }
  	40% { transform: translate(1px, -1px) rotate(1deg); }
  	50% { transform: translate(-1px, 2px) rotate(-1deg); }
  	60% { transform: translate(-3px, 1px) rotate(0deg); }
  	70% { transform: translate(3px, 1px) rotate(-1deg); }
  	80% { transform: translate(-1px, -1px) rotate(1deg); }
  	90% { transform: translate(1px, 2px) rotate(0deg); }
  	100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/* fin btn shake */
/* btn resto scale */ 
.resto1:hover {
	transform: scale(1.8);
	opacity: 0.5;
}
.resto2:hover {
	transform: scale(1.4);
	opacity: 0.5;
}
.resto3:hover, 
.resto4:hover {
	transform: scale(1.6);
	opacity: 0.5;
}
/* fin btn scale */
/* btn soulignement */
h3:hover {
	transform: scale(1);
	opacity: 1;
}
h3::after {
  content: '';
  transform-origin: 0 0; 
  transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: .1em; 
  background: black;
  z-index: -1;
  opacity: 0.8;
  transition: transform .6s;
}
h3:hover::after {
  transform: scaleX(1);
}
/* fin btn soulignement */
/* btn soon */
.loading {
	margin-top: 20px;
	transform: translate(-50%, -50%);
}
.circle {
	display: inline-block;
	width: 15px;
	height: 15px;
	background-color: #fdcb46;
	border-radius: 50%;
	animation:loading 1.5s cubic-bezier(.8, .5, .2, 1.4)infinite;
	transform-origin: bottom center;
	position: relative;
}
@keyframes loading{
	0%{
		transform: translateY(0px);
	}
	50%{
		transform: translateY(25px);
	}
	100%{
		transform: translateY(0px);
	}
}
.circle-1 {
	animation-delay: 0.1s;
}
.circle-2 {
	animation-delay: 0.2s;
}
.circle-3 {
	animation-delay: 0.3s;
}
/* fin btn soon */ 
/* fin btn accueuil */
/* menu */
.menu1 {
	width: 45%;
	min-width: 500px;
	height: 790px;
	background-color: #fcdfdb;
	margin: auto;
	font-family: 'Dancing Script', cursive;
	color: #3c1218;
}
.menu2 {
	width: 48%;
	min-width: 500px;
	height: 700px;
	background-color: #fff5fe;
	margin: auto;
	font-family: 'Caudex', serif;
}
.menu3 {
	width: 45%;
	min-width: 500px;
	height: 770px;
	background-color: #f9f9f9;
	margin: auto;
	font-family: 'Satisfy', cursive;
}
.menu4 {
	width: 50%;
	min-width: 500px;
	height: 770px;
	background-color: #fdfffd;
	margin: auto;
	font-family: 'Kalam', cursive;
}
.menu1 h2,
.menu2 h2,
.menu3 h2,
.menu4 h2 {
	font-size: 22px;
	display: flex;
	margin: auto;
	justify-content: space-around;
}
.menu3 h3, 
.menu2 h3, 
.menu4 h3 {
	font-size: 22px;
}
.titre>h2 {
	display: flex;
	justify-content: space-around;
	font-size: 25px;
}
img {
	width: 30%;
	min-width: 100px;
	height: 15px;
	margin-top: 25px;
}
.titre-entree {
	display: flex;
	margin-top: auto;
	justify-content: space-around;
}
.entree-prix {
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	margin: 0px 100px 0px 100px;
}
.dessert {
	margin-left: 100px;
}
@media screen and (max-width: 770px)
{
	.main {
		height: 1500px;
	}
	.resto1-2 {
		flex-direction: column;
		margin-top: 150px;
	}
	.resto3-4 {
		flex-direction: column;
		margin-top: 290px;
	}
	.btn-first {
		width: 40%;
		margin: auto;
		margin-top: 50px;
	}
	.resto1 {
		height: 400px;
	}
	.btn-secondary,.btn-quaternary {
		width: 40%;
		height: 400px;
		margin: auto;
		margin-top: 20px;
	}
	img {
		display: none;
	}
	.btn-tertiary {
		width: 40%;
		height: 400px;
		margin: auto;
		margin-top: 130px;
	}
	.soon {
		width: 250px;
		margin-top: 350px;
		margin-bottom: 200px;
	}
	footer {
		position: fixed;
		bottom: 0;	
	}
	.main-menu1,
	.main-menu2,
	.main-menu3,
	.main-menu4 {
		height: 1000px;
	}
	.main-menu4 {
		font-size: 8px;
	}
	.menu3 {
		height: 800px;
	}
	.menu1,
	.menu2,
	.menu4 {
		height: 900px;
	}
}
@media screen and (max-width: 500px)
{
	.btn5 h2,
	.btn6 h2 {
		font-size: 20px;
	}
	.soon {
		width: 250px;
	}
	.menu1,
	.menu2,
	.menu3,
	.menu4 {
		min-width: 325px;
		height: 1000px;
	}
	img {
		display: none;
	}
	.entree-prix {
		margin: 0 10px 0 10px;
	}
	.dessert {
		margin: 0 10px 0 10px;
	}
	header {
		min-width: 325px;
	}

}